* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

/*! Header */

header {
    padding-left: 16.2rem;
    background: linear-gradient(331deg, #0B3F37 0%, #CB8D62 96.96%);
}

header .navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 9rem;
    gap: 15.9rem;
}

header .navbar .logo {
    cursor: pointer;
}

header .navbar .navbar-content {
    display: flex;
    align-items: center;
    gap: 5rem;
}

header .navbar .navbar-content a {
    color: #FFF;
    text-align: center;
    font-family: Mont;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 96.4%;
    transition: all 0.126s ease-in;
}

header .navbar .navbar-content a:hover {
    text-align: center;
    font-family: Mont;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
    text-decoration-line: underline;
    background: linear-gradient(150deg, #5E3928 0%, #E4A16F 91.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .navbar .navbar-icons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header .navbar .navbar-icons a {
    background-color: #fff;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 8.8rem 1.8rem 0rem 1.8rem;
    position: relative;
    transition: all 0.3s ease-in-out;
}

header .navbar .navbar-icons a:hover {
    background-color: #000;
    color: #fff;
}

header .navbar .navbar-icons a i {
    font-size: 2.1rem;
    position: absolute;
    left: 0.81rem;
    bottom: 3.6rem;
}

/*! About */

.about {
    background: #F4F5F7;
    width: 100%;
}

.about .about-container {
    display: flex;
    flex-direction: column;
    gap: 10.8rem;
    padding: 2.5rem 16.2rem 2.5rem 16.2rem;
}

.about .about-container .about-top-container p {
    color: #031412;
    font-family: Mont;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
}

.about .about-container .about-top-container p a {
    font-weight: 300;
    color: #031412;
    font-family: Mont;
    font-size: 1.8rem;
    font-style: normal;
    line-height: 96.4%;
}

.about .about-container .about-center-container {
    display: flex;
    gap: 5.1rem;
}

.about .about-container .about-center-container .about-content-1 {
    display: flex;
    flex-direction: column;
    gap: 5.81rem;
}

.about .about-container .about-center-container .about-content-1 .about-head-content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.about .about-container .about-center-container .about-content-1 .about-head-content h1 {
    width: 70.8rem;
    color: #031412;
    font-family: Lighthaus;
    font-size: 7.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 74.9%;
}

.about .about-container .about-center-container .about-content-1 .about-head-content .about-line {
    width: 62.3rem;
    height: 0.1rem;
    background: #031412;
}

.about .about-container .about-center-container .about-content-1 .about-head-content .about-image-text {
    display: flex;
    gap: 2.5rem;
}

.about .about-container .about-center-container .about-content-1 .about-head-content .about-image-text h2 {
    font-family: Mont;
    font-size: 3.6rem;
    font-style: italic;
    font-weight: 600;
    line-height: 96.4%;
    background: linear-gradient(150deg, #5E3928 0%, #E4A16F 91.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about .about-container .about-center-container .about-content-2 .about-big-image img {
    width: 120%;
    height: 140%;
}

.about .about-container .about-center-container .about-bottom-content {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.about .about-container .about-center-container .about-bottom-content h3 {
    width: 10.5rem;
    font-family: Mont;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 96.4%;
    background: linear-gradient(150deg, #5E3928 0%, #E4A16F 91.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about .about-container .about-center-container .about-bottom-content .imza-image img {
    width: 16.8rem;
}

/*! Customer */

.customer {
    padding: 3.6rem 16.2rem 3.6rem 16.2rem;
}

.customer .customer-container {
    display: flex;
    gap: 12.2rem;
}

.customer .customer-container .customer-content-1 {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}

.customer .customer-container .customer-content-1 h2 {
    width: 29.1rem;
    color: #031412;
    font-family: Lighthaus;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.9%;
}

.customer .customer-container .customer-content-1 .customer-paragraph {
    width: 48.7rem;
    color: #031412;
    font-family: Mont;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 124.9%;
}

.customer .customer-container .customer-content-2 h2 {
    font-family: Mont;
    font-size: 5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 96.4%;
    background: linear-gradient(150deg, #5E3928 0%, #E4A16F 91.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.customer .customer-container .customer-content-2 h1 {
    width: 70.7rem;
    height: 18.9rem;
    color: rgba(0, 0, 0, 0.30);
    font-family: Mont;
    font-size: 20rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
    background: linear-gradient(150deg, #34231a 0%, #1c150f 91.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*! History */

.history {
    background-color: #031412;
    position: relative;
    height: 62.6rem;
    width: 100%;
}

.history h1 {
    width: 76.9rem;
    transform: rotate(-90deg);
    color: #FFF;
    font-family: Lighthaus;
    font-size: 15.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 74.9%;
    position: absolute;
    top: 9.6rem;
    left: -27rem;
}

.history .history-container {
    padding: 3.6rem 16.2rem 3.6rem 16.2rem;
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    align-items: center;
}

.history .history-container h2 {
    width: 58.7rem;
    color: #FFF;
    text-align: center;
    font-family: Lighthaus;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.9%; /* 52.95px */
}

.history .history-container .history-content {
    display: flex;
    gap: 3.1rem;
}

.history .history-container .history-content .history-content-text-1 {
    width: 44.5rem;
}

.history .history-container .history-content .history-content-text-1 p {
    color: #FFF;
    font-family: Mont;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 172.4%;
}

.history .history-container .history-content .history-content-text-2 {
    width: 44.5rem;
}

.history .history-container .history-content .history-content-text-2 p {
    color: #FFF;
    font-family: Mont;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 132.4%;
}

/*! Geography */

.geography {
    background-color: #F4F5F7;
    width: 100%;
    height: 63.3rem;
}

.geography .geography-container {
    padding: 3.6rem 16.2rem 3.6rem 16.2rem;
    display: flex;
    align-items: center;
    gap: 7.3rem;
}

.geography .geography-container .geography-content-1 {
    display: flex;
    flex-direction: column;
    gap: 3.8rem;
}

.geography .geography-container .geography-content-1 h2 {
    width: 31rem;
    color: #031412;
    font-family: Lighthaus;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.9%;
}

.geography .geography-container .geography-content-1 .geography-paragraph {
    width: 36.5rem;
}

.geography .geography-container .geography-content-1 .geography-paragraph p {
    color: #031412;
    font-family: Mont;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 124.9%;
}

.geography .geography-container .geography-content-2 .geography-image img {
    width: 100%;
}

/*! Forest */

.forest {
    padding: 3.6rem 16.2rem 3.6rem 16.2rem;
}

.forest .forest-container {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.forest .forest-container .forest-content-1 .forest-image img {
    width: 93%;
}

.forest .forest-container .forest-content-2 {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.forest .forest-container .forest-content-2 h2 {
    width: 29.2rem;
    color: #031412;
    font-family: Lighthaus;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.9%;
}

.forest .forest-container .forest-content-2 .forest-paragraph {
    width: 48.5rem;
    height: 7.2rem;
}

.forest .forest-container .forest-content-2 .forest-paragraph p {
    color: #031412;
    font-family: Mont;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 124.9%; /* 24.98px */
}

.forest .forest-container .forest-content-2 .forest-icon-text {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.forest .forest-container .forest-content-2 .forest-icon-text i {
    font-size: 3.6rem;
}

.forest .forest-container .forest-content-2 .forest-icon-text p {
    width: 20.3rem;
    color: #031412;
    font-family: Mont;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 96.4%;
}

/*! Choose */

.choose {
    width: 100%;
    background: #F4F5F7;
}

.choose .choose-container {
    display: flex;
    padding-top: 3rem;
    padding-bottom: 5rem;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.choose .choose-container h2 {
    text-align: center;
    color: #031412;
    text-align: center;
    font-family: Lighthaus;
    font-size: 3.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 74.9%;
}

.choose .choose-container .choose-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.choose .choose-container .choose-content .choose-card {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    cursor: pointer;
}

.choose .choose-container .choose-content .choose-card a {
    width: 3.7rem;
    height: 3.7rem;
    background: linear-gradient(324deg, #0B3F37 0%, #CB8D62 96.96%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose .choose-container .choose-content .choose-card a i {
    font-size: 2.4rem;
    color: #fff;
}

.choose .choose-container .choose-content .choose-card .choose-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.choose .choose-container .choose-content .choose-card .choose-text h4 {
    color: #031412;
    font-family: Mont;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
}

.choose .choose-container .choose-content .choose-card .choose-text .choose-paragraph {
    width: 24.8rem;
    color: #031412;
    font-family: Mont;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134.4%;
}

.choose .choose-container .choose-content .choose-card .choose-text .choose-button {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.choose .choose-container .choose-content .choose-card .choose-text .choose-button .choose-btn {
    background: transparent;
    border: none;
    font-family: Mont;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 134.4%;
    background: linear-gradient(124deg, #5E3928 0%, #E4A16F 91.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.choose .choose-container .choose-content .choose-card .choose-text .choose-button i {
    font-size: 0.8rem;
    color: #CF9164;
    cursor: pointer;
}


/*! Footer */

footer {
    background: linear-gradient(331deg, #0B3F37 0%, #CB8D62 96.96%);
}

footer .footer-container {
    padding: 7rem 16.2rem 7rem 16.2rem;
    display: flex;
    justify-content: space-between;
}

footer .footer-container .footer-content-1 {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

footer .footer-container .footer-content-1 .footer-paragraph {
    width: 19.4rem;
}

footer .footer-container .footer-content-1 .footer-paragraph p {
    color: #ADADAD;
    font-family: Mont;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134.4%;
}

footer .footer-container .footer-content-1 .footer-text {
    color: #FFF;
    font-family: Mont;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134.4%;
    text-decoration-line: underline;
}

footer .footer-container .footer-content-2 {
    display: flex;
    gap: 13.7rem;
}

footer .footer-container .footer-content-2 .footer-unit {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

footer .footer-container .footer-content-2 .footer-unit .p-hear {
    color: #FFF;
    font-family: Mont;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
}

footer .footer-container .footer-content-2 .footer-unit a {
    color: #FFF;
    font-family: Mont;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134.4%;
}

footer .footer-container .footer-content-2 .footer-unit a:hover {
    text-decoration-line: underline;
}

footer .footer-container .footer-content-2 .footer-unit .footer-icons {
    display: flex;
    gap: 1rem;
}

footer .footer-container .footer-content-2 .footer-unit .footer-icons i {
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.126s ease-in;
}

footer .footer-container .footer-content-2 .footer-unit .footer-icons i:hover {
    color: #a3a0a0;
}