* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

/*! Header */

header {
    padding-left: 16.2rem;
    background: linear-gradient(331deg, #0B3F37 0%, #CB8D62 96.96%);
}

header .navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 9rem;
    gap: 15.9rem;
}

header .navbar .navbar-logo {
    display: flex;
    gap: 6rem;
}

header .navbar .logo {
    cursor: pointer;
}

header .navbar .navbar-content {
    display: flex;
    align-items: center;
    gap: 5rem;
}

header .navbar .navbar-content a {
    color: #FFF;
    text-align: center;
    font-family: Mont;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 96.4%;
    transition: all 0.126s ease-in;
}

header .navbar .navbar-content a:hover {
    text-align: center;
    font-family: Mont;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
    text-decoration-line: underline;
    background: linear-gradient(150deg, #5E3928 0%, #E4A16F 91.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .navbar .navbar-icons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header .navbar .navbar-icons .background-brown {
    background-color: #5E3928;
    color: #fff;
    display: none;
}

header .navbar .navbar-icons a {
    background-color: #fff;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 8.8rem 1.8rem 0rem 1.8rem;
    position: relative;
    transition: all 0.3s ease-in-out;
}

header .navbar .navbar-icons a:hover {
    background-color: #000;
    color: #fff;
}

header .navbar .navbar-icons a i {
    font-size: 2.1rem;
    position: absolute;
    left: 0.81rem;
    bottom: 3.6rem;
}

/*! News */

.news {
    padding: 2.5rem 16.2rem 2.5rem 16.2rem;
}

.news .news-container {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}

.news .news-container .news-top-container p {
    color: #031412;
    font-family: Mont;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
}

.news .news-container .news-top-container p a {
    color: #031412;
    font-family: Mont;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 96.4%;
}

.news .news-container .news-center-container {
    display: flex;
    flex-direction: column;
    gap: 3.1rem;
}

.news .news-container .news-center-container h2 {
    width: 31rem;
    color: #031412;
    font-family: Lighthaus;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.9%;
}

.news .news-container .news-center-container .news-content {
    display: flex;
    flex-direction: column;
    gap: 3.4rem;
}

/*! News-2 */

.sales {
    width: 100%;
    background: #fff;
}

.sales .sales-container {
    padding: 0 16.2rem 0 16.2rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.sales .sales-container h2 {
    text-align: center;
    color: #031412;
    text-align: center;
    font-family: Lighthaus;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 74.9%;
}

.sales .sales-container .sales-content {
    display: flex;
    gap: 3rem;
}

.sales .sales-container .sales-content .sales-content-image img {
    width: 100%;
}

.sales .sales-container .sales-content .sales-content-image {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
}

.sales-paragraph-button {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sales-paragraph-button p {
    width: 100%;
    color: #031412;
    font-family: Mont;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 132.4%;
}

.sales-paragraph-button .sales-button {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    transition: all 0.126s ease-in;
}

.sales-paragraph-button .sales-button:hover {
    opacity: 0.75;
}

.sales-paragraph-button .sales-button .sales-btn {
    background: transparent;
    border: none;
    font-family: Mont;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 134.4%;
    background: linear-gradient(124deg, #5E3928 0%, #E4A16F 91.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.sales-paragraph-button .sales-button i {
    font-size: 0.8rem;
    color: #CF9164;
}

/*! Footer */

footer {
    background: linear-gradient(331deg, #0B3F37 0%, #CB8D62 96.96%);
    width: 100%;
}

footer .footer-container {
    padding: 7rem 16.2rem 7rem 16.2rem;
    display: flex;
    justify-content: space-between;
}

footer .footer-container .footer-content-1 {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

footer .footer-container .footer-content-1 .footer-paragraph {
    width: 19.4rem;
}

footer .footer-container .footer-content-1 .footer-paragraph p {
    color: #ADADAD;
    font-family: Mont;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134.4%;
}

footer .footer-container .footer-content-1 .footer-text {
    color: #FFF;
    font-family: Mont;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134.4%;
    text-decoration-line: underline;
}

footer .footer-container .footer-content-2 {
    display: flex;
    gap: 13.7rem;
}

footer .footer-container .footer-content-2 .footer-units {
    display: flex;
    gap: 10.5rem;
}

footer .footer-container .footer-content-2 .footer-unit {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

footer .footer-container .footer-content-2 .footer-unit .p-hear {
    color: #FFF;
    font-family: Mont;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
}

footer .footer-container .footer-content-2 .footer-unit a {
    color: #FFF;
    font-family: Mont;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134.4%;
}

footer .footer-container .footer-content-2 .footer-unit a:hover {
    text-decoration-line: underline;
}

footer .footer-container .footer-content-2 .footer-unit .footer-icons {
    display: flex;
    gap: 1rem;
}

footer .footer-container .footer-content-2 .footer-unit .footer-icons i {
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.126s ease-in;
}

footer .footer-container .footer-content-2 .footer-unit .footer-icons i:hover {
    color: #a3a0a0;
}


@media(max-width: 968px) {

    /*! General Style */

    html {
        font-size: 57.5%;
    }

    /*! Header */

    header {
        padding-left: 3.4rem;
        padding-right: 3.4rem;
        padding-top: 2.5rem;
        padding-bottom: 3.6rem;
    }

    header .navbar .navbar-content {
        display: flex;
        align-items: center;
        gap: 2.5rem;
    }

    header .navbar .navbar-logo {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }


    /*! News */

    .news {
        padding: 2.5rem 5.2rem 2.5rem 5.2rem;
    }

    .news .news-container .news-center-container h2 {
        width: 27rem;
        font-size: 4.2rem;
    }

    /*! Sales */

    .sales {
        width: 100%;
        background: #fff;
    }

    .sales .sales-container {
        padding: 7rem 5.2rem 7rem 5.2rem;
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }

    .sales-paragraph-button p {
        width: 67.6rem;
        color: #031412;
        font-family: Mont;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 132.4%;
    }

    .responsiveSwiper {
        display: flex;
        flex-direction: column !important;
    }

    /*! Footer */

    footer .footer-container {
        padding: 7rem 5.2rem 7rem 5.2rem;
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

}

@media(max-width: 420px) {

     
    /*! General Style */

    html {
        font-size: 52.5%;
    }

    /*! Header */

    header {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 2.5rem;
        position: relative;
    }

    header .navbar .navbar-content {
        display: none;
    }

    header .navbar .navbar-content.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 10000;
        background-color: #a98870;
        right: 3%;
        top: 90%;
        padding: 3rem;
        border-radius: 0.6rem;
    }

    header .navbar .navbar-icons .heart-a {
        display: none;
    }

    header .navbar .navbar-icons .background-brown {
        display: block;
    }

    header .navbar {
        display: flex;
        align-items: center;
        width: 100%;
        height: 9rem;
        gap: 9rem;
    }

    /*! News */

    .news {
        padding: 2.5rem 1.5rem 2.5rem 1.5rem;
    }

    /*! Sales */

    .sales {
        width: 100%;
    }

    .sales .sales-container {
        padding: 7rem 1.5rem 7rem 1.5rem;
        margin-left: 3rem;
    }

    .sales .sales-container .sales-content .sales-content-text {
        padding-left: 0;
        padding-right: 0;
        display: flex;
        gap: -5rem;
    }

    .sales .sales-container .sales-content .sales-content-image {
        width: 42rem;
        height: 32rem;
        cursor: pointer;
        transition: all 0.3s ease-in;
        position: relative;
    }

    .sales .sales-container .sales-content .sales-content-text p {
        color: #031412;
        font-family: Mont;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 96.4%;
    }

    .sales .sales-container .sales-content .sales-content-text small {
        color: #031412;
        font-family: Mont;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 800;
        line-height: 96.4%;
    }

    .sales .sales-container .sales-content .sales-content-text {
        padding-left: 3rem;
        padding-right: 3.3rem;
        display: flex;
        gap: 6rem;
    }

    /*! Footer */

    footer .footer-container .footer-content-2 .footer-units {
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }

}