* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

/*! Header */

header {
    background: linear-gradient(331deg, #0B3F37 0%, #CB8D62 96.96%);
}

header .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 9rem;
}

header .navbar .logo {
    cursor: pointer;
}

/*! Email */

.email {
    background-color: #fff;
}

.email .email-container {
    
}

/*! Footer */

footer {
    background: linear-gradient(331deg, #0B3F37 0%, #CB8D62 96.96%);
}

footer .footer-container {
    padding: 7rem 16.2rem 7rem 16.2rem;
}

footer .footer-container .footer-content-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}