* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

/*! Header */

header {
    background: linear-gradient(331deg, #0B3F37 0%, #CB8D62 96.96%);
}

header .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 9rem;
}

header .navbar .logo {
    cursor: pointer;
}

/*! Email */

.selahiyyet {
    background-color: #fff;
}

.selahiyyet .selahiyyet-container {
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
}

.selahiyyet .selahiyyet-container .selahiyyet-top-container {
    padding-left: 16.1rem;
    padding-top: 6rem;
}

.selahiyyet .selahiyyet-container .selahiyyet-top-container .selahiyyet-button .selahiyyet-btn {
    width: 27.7rem;
    height: 3.6rem;
    background: transparent;
    border: 1px solid #A1A1A1;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.24s ease-in;
}

.selahiyyet .selahiyyet-container .selahiyyet-top-container .selahiyyet-button .selahiyyet-btn:hover {
    background-color: #0B3F37;
    opacity: 0.7;
}

.selahiyyet .selahiyyet-container .selahiyyet-top-container .selahiyyet-button .selahiyyet-btn a {
    color: #A1A1A1;
    text-align: center;
    font-family: Mont;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
}

.selahiyyet .selahiyyet-container .selahiyyet-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
}

.selahiyyet .selahiyyet-container .selahiyyet-center-container .selahiyyet-email {
    display: flex;
    flex-direction: column;
    gap: 3.1rem;
    width: 37.6rem;
    height: 44.9rem;
    background: #FFF;
    box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.05);
}

.selahiyyet .selahiyyet-container .selahiyyet-center-container .selahiyyet-email form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}

.selahiyyet .selahiyyet-container .selahiyyet-center-container .selahiyyet-email form h2 {
    color: #031412;
    text-align: center;
    font-family: Lighthaus;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.9%; /* 37.065px */
}

.selahiyyet .selahiyyet-container .selahiyyet-center-container .selahiyyet-email form .input-container {
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
}

.selahiyyet .selahiyyet-container .selahiyyet-center-container .selahiyyet-email form .input-container input {
    width: 28.6rem;
    height: 3.6rem;
    padding-left: 2rem;
    outline: none;
    border: 1px solid #A1A1A1;
}

.selahiyyet .selahiyyet-container .selahiyyet-center-container .selahiyyet-email form .input-container input::placeholder {
    color: #A1A1A1;
    font-family: Mont;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 96.4%; /* 17.352px */
}

.selahiyyet .selahiyyet-container .selahiyyet-center-container .selahiyyet-email form .selahiyyet-buttons {
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
}

.selahiyyet .selahiyyet-container .selahiyyet-center-container .selahiyyet-email form .selahiyyet-buttons .a-btn {
    text-align: center;
    font-family: Mont;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 96.4%;
    text-decoration-line: underline;
    background: linear-gradient(150deg, #5E3928 0%, #E4A16F 91.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.selahiyyet .selahiyyet-container .selahiyyet-center-container .selahiyyet-email form .selahiyyet-buttons .selahiyyet-btn-2 {
    width: 28.6rem;
    height: 3.6rem;
    background: linear-gradient(150deg, #5E3928 0%, #E4A16F 91.15%);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.24s ease-in;
}

.selahiyyet .selahiyyet-container .selahiyyet-center-container .selahiyyet-email form .selahiyyet-buttons .selahiyyet-btn-2 a {
    color: #FFF;
    text-align: center;
    font-family: Mont;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
}

.selahiyyet .selahiyyet-container .selahiyyet-center-container .selahiyyet-email form .selahiyyet-buttons .selahiyyet-btn-2:hover {
    opacity: 0.75;
}

.selahiyyet .selahiyyet-container .selahiyyet-center-container .selahiyyet-email .selahiyyet-content {
    width: 38.6rem;
    height: 4.8rem;
    background: linear-gradient(331deg, #0B3F37 0%, #CB8D62 96.96%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10.4rem;
    border-radius: 0.3rem;
}

.selahiyyet .selahiyyet-container .selahiyyet-center-container .selahiyyet-email .selahiyyet-content .slim-btn {
    color: #FFF;
    text-align: center;
    font-family: Mont;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 96.4%;
}

.selahiyyet .selahiyyet-container .selahiyyet-center-container .selahiyyet-email .selahiyyet-content .slim-btn:hover {
    color: chocolate;
}

.selahiyyet .selahiyyet-container .selahiyyet-center-container .selahiyyet-email .selahiyyet-content .bold-btn {
    color: #FFF;
    text-align: center;
    font-family: Mont;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
}

.selahiyyet .selahiyyet-container .selahiyyet-center-container .selahiyyet-email .selahiyyet-content .bold-btn:active {
    color: chocolate;
}

/*! Footer */

footer {
    background: linear-gradient(331deg, #0B3F37 0%, #CB8D62 96.96%);
}

footer .footer-container {
    padding: 7rem 16.2rem 7rem 16.2rem;
}

footer .footer-container .footer-content-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*! Responsive */

@media(max-width: 968px) {

    /*! General Style */

    html {
        font-size: 57.5%;
    }

    .selahiyyet .selahiyyet-container .selahiyyet-top-container {
        padding-left: 5.2rem;
        padding-top: 6rem;
    }

    .selahiyyet .selahiyyet-container .selahiyyet-center-container .selahiyyet-email {
        display: flex;
        flex-direction: column;
        gap: 3.1rem;
        width: 37.6rem;
        height: 44.9rem;
        background: #FFF;
        box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.05);
    }
    
}


@media(max-width: 420px) {
        
    /*! General Style */

    html {
        font-size: 52.5%;
    }

    .selahiyyet .selahiyyet-container .selahiyyet-top-container {
        padding-left: 1.5rem;
        padding-top: 6rem;
    }

    .selahiyyet .selahiyyet-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7.5rem;
    }
}