* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

/*! Header */

header {
    padding-left: 16.2rem;
    background: linear-gradient(331deg, #0B3F37 0%, #CB8D62 96.96%);
}

header .navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 9rem;
    gap: 15.9rem;
}

header .navbar .logo {
    cursor: pointer;
}

header .navbar .navbar-content {
    display: flex;
    align-items: center;
    gap: 5rem;
}

header .navbar .navbar-content a {
    color: #FFF;
    text-align: center;
    font-family: Mont;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 96.4%;
    transition: all 0.126s ease-in;
}

header .navbar .navbar-content a:hover {
    text-align: center;
    font-family: Mont;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
    text-decoration-line: underline;
    background: linear-gradient(150deg, #5E3928 0%, #E4A16F 91.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .navbar .navbar-icons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header .navbar .navbar-icons a {
    background-color: #fff;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 8.8rem 1.8rem 0rem 1.8rem;
    position: relative;
    transition: all 0.3s ease-in-out;
}

header .navbar .navbar-icons a:hover {
    background-color: #000;
    color: #fff;
}

header .navbar .navbar-icons a i {
    font-size: 2.1rem;
    position: absolute;
    left: 0.81rem;
    bottom: 3.6rem;
}

/*! Profile */

.profile {
    background-color: #fff;
}

.profile .profile-container {
    padding-top: 7.2rem;
    padding-bottom: 18rem;
    padding-left: 16rem;
    display: flex;
    flex-direction: column;
    gap: 5.1rem;
}

.profile .profile-container .profile-top-container h2 {
    color: #031412;
    font-family: Lighthaus;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 105.9%;
}

.profile .profile-container .profile-center-container {
    display: flex;
    gap: 3rem;
}

.profile .profile-container .profile-center-container .profile-left {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.profile .profile-container .profile-center-container .profile-left .profile-buttons {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.profile .profile-container .profile-center-container .profile-left .profile-buttons .profile-btn {
    display: flex;
    align-items: center;
    gap: 2.7rem;
    width: 27rem;
    height: 3.6rem;
    padding-left: 2rem;
    background: linear-gradient(150deg, #5E3928 0%, #E4A16F 91.15%);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.24s ease-in;
}

.profile .profile-container .profile-center-container .profile-left .profile-buttons .profile-btn:hover {
    opacity: 0.75;
}

.profile .profile-container .profile-center-container .profile-left .profile-buttons .profile-btn i {
    font-size: 1.6rem;
    color: #fff;
}

.profile .profile-container .profile-center-container .profile-left .profile-buttons .profile-btn a {
    color: #FFF;
    font-family: Mont;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
}

.profile .profile-container .profile-center-container .profile-left .close-button .close-btn {
    display: flex;
    align-items: center;
    gap: 1.9rem;
    background: transparent;
    border: none;
}

.profile .profile-container .profile-center-container .profile-left .close-button .close-btn i {
    font-size: 1.4rem;
    color: #0B3F37;
}

.profile .profile-container .profile-center-container .profile-left .close-button .close-btn a {
    color: #031412;
    text-align: center;
    font-family: Mont;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
}

/* .profile .profile-container .profile-center-container .sales-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
} */

.sales {
    width: 72%;
    height: 75rem;
}

.sales .sales-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sales .sales-container .sales-content {
    display: flex;
    gap: 1rem;
}

.sales .sales-container .sales-content .sales-content-image {
    width: 36rem;
    height: 32rem;
    cursor: pointer;
    transition: all 0.3s ease-in;
    position: relative;
}

.sales .sales-container .sales-content .sales-content-image a {
    position: absolute;
    top: 7%;
    right: 8%;
    padding: 1.7rem 0.8rem 1.6rem 0.8rem;
    background-color: #fff;
    transition: all 0.24s ease-in;
    border-bottom-left-radius: 0.6rem;
}

.sales .sales-container .sales-content .sales-content-image a:hover {
    background-color: #5E3928;
    color: #fff;
}

.sales .sales-container .sales-content .sales-content-image a i {
    font-size: 1.8rem;
}

.sales .sales-container .sales-content .sales-content-image img {
    width: 100%;
    height: 100%;
}

.sales .sales-container .sales-content .sales-content-text {
    padding-left: 3rem;
    padding-right: 0.1rem;
    display: flex;
    justify-content: space-between;
}

.sales .sales-container .sales-content .sales-content-text p {
    color: #031412;
    font-family: Mont;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 96.4%;
}

.sales .sales-container .sales-content .sales-content-text small {
    color: #031412;
    font-family: Mont;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
}

.sales .sales-container .sales-button {
    text-align: center;
    margin-top: 6rem;
}

.sales .sales-container .sales-button .sales-btn {
    width: 23.7rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    background: linear-gradient(150deg, #5E3928 0%, #E4A16F 91.15%);
    border: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Mont;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
    transition: all 0.5s ease-in;
}

.sales .sales-container .sales-button .sales-btn:hover {
    background: #031412;
}

.sales.content-2 {
    margin-top: -42rem;
    margin-left: 30rem;
}

/*! Footer */

footer {
    background: linear-gradient(331deg, #0B3F37 0%, #CB8D62 96.96%);
}

footer .footer-container {
    padding: 7rem 16.2rem 7rem 16.2rem;
    display: flex;
    justify-content: space-between;
}

footer .footer-container .footer-content-1 {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

footer .footer-container .footer-content-1 .footer-paragraph {
    width: 19.4rem;
}

footer .footer-container .footer-content-1 .footer-paragraph p {
    color: #ADADAD;
    font-family: Mont;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134.4%;
}

footer .footer-container .footer-content-1 .footer-text {
    color: #FFF;
    font-family: Mont;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134.4%;
    text-decoration-line: underline;
}

footer .footer-container .footer-content-2 {
    display: flex;
    gap: 13.7rem;
}

footer .footer-container .footer-content-2 .footer-unit {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

footer .footer-container .footer-content-2 .footer-unit .p-hear {
    color: #FFF;
    font-family: Mont;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
}

footer .footer-container .footer-content-2 .footer-unit a {
    color: #FFF;
    font-family: Mont;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134.4%;
}

footer .footer-container .footer-content-2 .footer-unit a:hover {
    text-decoration-line: underline;
}

footer .footer-container .footer-content-2 .footer-unit .footer-icons {
    display: flex;
    gap: 1rem;
}

footer .footer-container .footer-content-2 .footer-unit .footer-icons i {
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.126s ease-in;
}

footer .footer-container .footer-content-2 .footer-unit .footer-icons i:hover {
    color: #a3a0a0;
}