* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

/*! Header */

header {
    background: linear-gradient(331deg, #0B3F37 0%, #CB8D62 96.96%);
}

header .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 9rem;
}

header .navbar .logo {
    cursor: pointer;
}

/*! Big-Photo */

.big-photo {
    padding: 10rem 0;
}

.big-photo .big-photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.7rem;
}

.big-photo .big-photo-container .big-image {
    position: relative;
}

.big-photo .big-photo-container .big-image .photo-1 {
    position: absolute;
    z-index: 5;
    right: 5rem;
    top: 8rem;
}

.big-photo .big-photo-container .big-h2 {
    color: #031412;
    text-align: center;
    font-family: Lighthaus;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.9%;
}

.big-photo .big-photo-container .big-text {
    width: 34.6rem;
}

.big-photo .big-photo-container .big-text p {
    color: #031412;
    text-align: center;
    font-family: Mont;
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: 96.4%;
}

.big-photo .big-photo-container .big-button button {
    width: 44.6rem;
    height: 5rem;
    background: linear-gradient(150deg, #5E3928 0%, #E4A16F 91.15%);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.24s ease-in;
}

.big-photo .big-photo-container .big-button button:hover {
    opacity: 0.75;
}

.big-photo .big-photo-container .big-button button a {
    color: #FFF;
    text-align: center;
    font-family: Mont;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
}

/*! Footer */

footer {
    background: linear-gradient(331deg, #0B3F37 0%, #CB8D62 96.96%);
    height: 100%;
    width: 100%;
}

footer .footer-container {
    padding: 7rem 16.2rem 7rem 16.2rem;
}

footer .footer-container .footer-content-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*! Responsive */

@media(max-width: 968px) {
    
    /*! General Style */

    html {
        font-size: 57.5%;
    }

    /*! Big-Photo */

    .big-photo .big-photo-container .big-image {
        position: relative;
    }
    
    .big-photo .big-photo-container .big-image .photo-1 {
        position: absolute;
        z-index: 5;
        right: -1.8rem;
        top: 8rem;
    }

}


@media(max-width: 420px) {

    /*! General Style */

    html {
        font-size: 52.5%;
    }

    /*! Big-Photo */

    .big-photo .big-photo-container .big-image {
        position: relative;
    }
    
    .big-photo .big-photo-container .big-image .photo-1 {
        position: absolute;
        z-index: 5;
        right: -2.5rem;
        top: 8rem;
    }

    .big-photo .big-photo-container .big-h2 {
        font-size: 3.9rem;
    }

    .big-photo .big-photo-container .big-text p {
        font-size: 2.1rem;
    }

    .big-photo .big-photo-container .big-button button {
        width: 34.8rem;
    }

}