* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

.picture {
    background-image: url(../images/BG.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 71.5rem;
}

.picture header {
    padding-left: 26.2rem;
}

.picture header .navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 9rem;
    gap: 7.7rem;
}

.picture header .navbar .logo {
    cursor: pointer;
}

.picture header .navbar .navbar-content {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.picture header .navbar .navbar-content a {
    color: #FFF;
    text-align: center;
    font-family: Mont;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 96.4%;
    transition: all 0.126s ease-in;
}

.picture header .navbar .navbar-content a:hover {
    text-align: center;
    font-family: Mont;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
    text-decoration-line: underline;
    background: linear-gradient(150deg, #5E3928 0%, #E4A16F 91.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.picture header .navbar .navbar-icons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.picture header .navbar .navbar-icons a {
    background-color: #fff;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 8.8rem 1.8rem 0rem 1.8rem;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.picture header .navbar .navbar-icons a:hover {
    background-color: #000;
    color: #fff;
}

.picture header .navbar .navbar-icons a i {
    font-size: 2.1rem;
    position: absolute;
    left: 0.81rem;
    bottom: 3.6rem;
}

.picture main {
    padding-left: 26.2rem;
    padding-top: 10.5rem;
}

.picture main .main-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.picture main .main-container .main-content-1 {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.picture main .main-container .main-content-1 h1 {
    width: 73.7rem;
    color: #FFF;
    font-family: Lighthaus;
    font-size: 10rem;
    font-style: normal;
    font-weight: 400;
    line-height: 74.9%;
}

.picture main .main-container .main-content-1 .line {
    max-width: 62.3rem;
    height: 0.1rem;
    background: linear-gradient(5deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

.picture main .main-container .main-content-1 .main-text {
    width: 53.3rem;
    color: #FFF;
    font-family: Mont;
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
}

.picture main .main-container .main-content-2 {
    display: flex;
    flex-direction: column;
    gap: 4.1rem;
}

.picture main .main-container .main-content-2 .main-paragraph {
    display: flex;
    align-items: center;
    gap: 10.9rem;
}

.picture main .main-container .main-content-2 .main-paragraph small {
    color: #FFF;
    font-family: Mont;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 96.4%;
}

.picture main .main-container .main-content-2 .main-paragraph p {
    color: #FFF;
    font-family: Mont;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
}

.picture main .main-container .main-content-2 .main-button .main-btn {
    width: 25.7rem;
    height: 3.6rem;
    border-radius: 0.6rem;
    background: linear-gradient(150deg, #5E3928 0%, #E4A16F 91.15%);
    color: #FFF;
    text-align: center;
    font-family: Mont;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: all 1s ease;
}

.picture main .main-container .main-content-2 .main-button .main-btn:hover {
    background: #000;
}

.picture main .main-container .main-content-3 {
    display: flex;
    gap: 1rem;
}

.picture main .main-container .main-content-3 .brown-cube {
    width: 1.2rem;
    height: 1.2rem;
    background: linear-gradient(124deg, #5E3928 0%, #E4A16F 91.15%);
}

.picture main .main-container .main-content-3 .grey-cube {
    width: 1.2rem;
    height: 1.2rem;
    background: #FFF;
}

.picture main .main-container .main-content-3 .white-cube {
    width: 1.2rem;
    height: 1.2rem;
    background: #FFF;
}

.picture .main-left-right {
    position: relative;
}

.picture .main-left-right .fa-angle-right {
    position: absolute;
    right: 0.3rem;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    bottom: 30rem;
    font-size: 2.8rem;
    color: #FFF;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    transition: all 0.126s ease-in;
}

.picture .main-left-right .fa-angle-right:hover {
    opacity: 0.75;
}

.picture .main-left-right .fa-angle-left {
    position: absolute;
    left: 0.3rem;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    bottom: 30rem;
    font-size: 2.8rem;
    color: #FFF;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    transition: all 0.126s ease-in;
}

.picture .main-left-right .fa-angle-left:hover {
    opacity: 0.69;
}

/*! Make */

.make {
    padding: 7rem 16.2rem 7rem 16.2rem;
}

.make .make-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.make .make-container h2 {
    text-align: center;
    color: #031412;
    text-align: center;
    font-family: Lighthaus;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 74.9%;
}

.make .make-container .make-content {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.make .make-container .make-content .make-image {
    box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: all 0.3s ease-in;
    max-width: 36rem;
    min-width: 25rem;
    height: 32rem;
}

.make .make-container .make-content .make-image:hover {
    box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.make .make-container .make-content .make-image img {
    width: 100%;
    height: 100%;
}

/*! Sales */

.sales {
    width: 100%;
    height: 75rem;
    background: #F4F5F7;
}

.sales .sales-container {
    padding: 7rem 16.2rem 7rem 16.2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.sales .sales-container h2 {
    text-align: center;
    color: #031412;
    text-align: center;
    font-family: Lighthaus;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 74.9%;
}

.sales .sales-container .sales-content {
    display: flex;
    gap: 3rem;
}

.sales .sales-container .sales-content .sales-content-image {
    width: 36rem;
    height: 32rem;

    cursor: pointer;
    transition: all 0.3s ease-in;
    position: relative;
}

.sales .sales-container .sales-content .sales-content-image a {
    position: absolute;
    top: 7%;
    right: 8%;
    padding: 1.7rem 0.8rem 1.6rem 0.8rem;
    background-color: #fff;
    transition: all 0.24s ease-in;
    border-bottom-left-radius: 0.6rem;
}

.sales .sales-container .sales-content .sales-content-image a:hover {
    background-color: #5E3928;
    color: #fff;
}

.sales .sales-container .sales-content .sales-content-image a i {
    font-size: 1.8rem;
}

.sales .sales-container .sales-content .sales-content-image img {
    width: 100%;
    height: 100%;
}

.sales .sales-container .sales-content .sales-content-text {
    padding-left: 3rem;
    padding-right: 3.3rem;
    display: flex;
    justify-content: space-between;
}

.sales .sales-container .sales-content .sales-content-text p {
    color: #031412;
    font-family: Mont;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 96.4%;
}

.sales .sales-container .sales-content .sales-content-text small {
    color: #031412;
    font-family: Mont;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
}

.sales .sales-container .sales-button {
    text-align: center;
    margin-top: 6rem;
}

.sales .sales-container .sales-button .sales-btn {
    width: 23.7rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    background: linear-gradient(150deg, #5E3928 0%, #E4A16F 91.15%);
    border: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Mont;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
    transition: all 0.5s ease-in;
}

.sales .sales-container .sales-button .sales-btn:hover {
    background: #031412;
}

/*! Sales-2 */

.sales.white {
    background-color: #fff;
}

/*! Picture-small */

.picture-small {
    background-image: url(../images/BG.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 42.6rem;
}

.picture-small .picture-small-container {
    padding: 7rem 16.2rem 7rem 16.2rem;
}

.picture-small .picture-small-container .picture-small-content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.picture-small .picture-small-container .picture-small-content h1 {
    max-width: 52.2rem;
    color: #FFF;
    font-family: Lighthaus;
    font-size: 14rem;
    font-style: normal;
    font-weight: 400;
    line-height: 74.9%;
}

.picture-small .picture-small-container .picture-small-content p {
    width: 53.3rem;
    color: #FFF;
    font-family: Mont;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 96.4%;
}

.picture-small .picture-small-container .picture-small-content .picture-small-button .picture-small-btn {
    width: 32.7rem;
    height: 3.6rem;
    background: linear-gradient(150deg, #5E3928 0%, #E4A16F 91.15%);
    border-radius: 0.6rem;
    color: #FFF;
    text-align: center;
    font-family: Mont;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.picture-small .picture-small-container .picture-small-content .picture-small-button .picture-small-btn:hover {
    background: #031412;
}

/*! User */

.user {
    padding: 7rem 16.2rem 7rem 16.2rem;
}

.user .user-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.user .user-container h2 {
    text-align: center;
    color: #031412;
    text-align: center;
    font-family: Lighthaus;
    font-size: 3.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 74.9%;
}

.user .user-container .user-content {
    display: flex;
    gap: 3rem;
}

.user .user-container .user-content .user-card {
    padding: 2.1rem 4rem 1.8rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.user .user-container .user-content .user-card h3 {
    color: #031412;
    font-family: Mont;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 96.4%;
}

.user .user-container .user-content .user-card .user-paragraph {
    width: 27.6rem;
}

.user .user-container .user-content .user-card .user-paragraph p {
    color: #031412;
    font-family: Mont;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 400;
    line-height: 134.4%;
}

.user .user-container .user-content .user-card span {
    color: #031412;
    font-family: Mont;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 134.4%;
}

/*! Choose */

.choose {
    width: 100%;
    background: #F4F5F7;
}

.choose .choose-container {
    display: flex;
    padding-top: 3rem;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.choose .choose-container h2 {
    text-align: center;
    color: #031412;
    text-align: center;
    font-family: Lighthaus;
    font-size: 3.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 74.9%;
}

.choose .choose-container .choose-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.choose .choose-container .choose-content .choose-card {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    cursor: pointer;
}

.choose .choose-container .choose-content .choose-card a {
    width: 3.7rem;
    height: 3.7rem;
    background: linear-gradient(324deg, #0B3F37 0%, #CB8D62 96.96%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose .choose-container .choose-content .choose-card a i {
    font-size: 2.4rem;
    color: #fff;
}

.choose .choose-container .choose-content .choose-card .choose-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.choose .choose-container .choose-content .choose-card .choose-text h4 {
    color: #031412;
    font-family: Mont;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: 96.4%;
}

.choose .choose-container .choose-content .choose-card .choose-text .choose-paragraph {
    width: 24.8rem;
    color: #031412;
    font-family: Mont;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134.4%;
}

.choose .choose-container .choose-content .choose-card .choose-text .choose-button {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.choose .choose-container .choose-content .choose-card .choose-text .choose-button .choose-btn {
    background: transparent;
    border: none;
    font-family: Mont;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 134.4%;
    background: linear-gradient(124deg, #5E3928 0%, #E4A16F 91.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.choose .choose-container .choose-content .choose-card .choose-text .choose-button i {
    font-size: 0.8rem;
    color: #CF9164;
    cursor: pointer;
}